@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

h1{
    top: 50%;
    margin-left: 35%;
    padding-top: 15%;
    font-size: 50px;
     font-family: 'Shadows Into Light', cursive;
   }

.Home {
    height: 100vh;
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}
.navbar{
    height: 50px;
}

p{
    font-size: xx-small;
}
h2, h5{
    text-align: center;
}
.about{

    width: 100vw;

}